/**
 *    SPDX-License-Identifier: Apache-2.0
 */
/* Dark-Theme is switched by the class name */
 .dark-theme body{
    background-color: red !important;
}

.dark-theme .cog,.dark-theme .bell{
    margin-top: 36px;
    color: rgb(139, 143, 148);
    font-size: 18pt;
}
.dark-theme .bell:hover,.dark-theme .cog:hover{
    margin-top: 36px;
    color: #c1d7f0;
    font-size: 18pt;
}

.dark-theme  .scrollable-card{
    height: 300px;
    overflow-y: scroll;

}

.dark-theme   svg.custom .node circle {
    fill: #F3F3FF;
    stroke: #2593B8;
    stroke-width: 1.5px;
}

.dark-theme  svg.custom .node text {
    font-size: 14px;
    background-color: #444;
    /* fill: #F4F4F4; */
    fill: #000000;
    /* text-shadow: 0 1px 4px black; */
}


/* Pagination */

.dark-theme .pagination li {
    float: left;
    padding: 2px 8px;
    text-decoration: none;
    font-size: 12pt;
    border-radius: 3px;
    margin-left: 3px;
    border:solid #bdc3c7 2px;
}
.dark-theme  .pagination li > a{
    color: rgb(255, 255, 255)!important;
}
.dark-theme .pagination li.active {
    background-color: #22313F;
    color: white!important;
    border-radius: 3px;
    border:solid #bdc3c7 2px;
}
.dark-theme .pagination li.active a{
    color: white!important;


}
.dark-theme .-pagination button{
    color:#ffffff!important;
    background-color:#5d538e !important
}
.dark-theme .-pagination button:hover{
    color:#39c9f5!important;
    background-color:#7165ad !important
}


/* Admin Panel */
/* .admin-panel{
    width: 450px;
} */
.dark-theme .select-channel{
    width: 200px;
}
.dark-theme .channel-form{
    display: flex;
    flex-wrap: wrap;
}

.dark-theme .source-code{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 800px;
    height: 600px;
}
.dark-theme .view-fullwidth{
    width: 100%;
    margin-top:105px;
    background-color:rgb(36, 32, 54)!important;
}
.dark-theme .view-display{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: transparent!important;
    /* width: 30px; */
}
/* .app-header{
    z-index: 100;
    background-color: #FFFFFF;
    height: 60px;
} */
/* Dialog & Model Styling */
.dark-theme .dialogTitle{

    text-align: center;
    background-color:red!important;
    color:#fff !important;
    font: bold 30px;
    font-weight:400;
    letter-spacing:3px;
    padding-top:1%;
}
.dark-theme .dialog{
    border-style:solid;
    /* border-color: #B9D6E1; */
    border-color :#D8D6D6;
    border-width:2px;
    filter: drop-shadow(0 0 0.75rem #D8D6D6);

}

.dark-theme .table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
    transition:background-color 1s ease;
    background-color:#53b4b1;
    opacity:0.8


}
.dark-theme  .table-card{
    background-color: #453E68!important;
    color:#ffffff!important
}

.dark-theme .table th,.table td{
    padding:5px;
}
.dark-theme .closeBtn{
    float:right;
    border-color:transparent;
    color:orange;
background-color:transparent;
margin:3px 10px 3px 0px;
font-size:25px;
height:30px;
cursor:pointer;
filter: "drop-shadow(0 0 0.75rem #D8D6D6)"
}
.dark-theme .closeBtn:focus{
    outline:none;
    color:#c00404;
}
.dark-theme .copyBtn{
    float:right;
    border-color:transparent;
    color:#4c69c7;
background-color:transparent;
cursor:pointer;
text-shadow: 1px 1px 2px rgba(129, 129, 129, 0.753);
}
.dark-theme .copyBtn:focus{
    outline:none
}
.dark-theme .cubeIcon{
    /* color:#B9D6E1; */
    color:#fff;
    margin-right:20px
}
.dark-theme .listIcon{
    /* color:#FFA686; */
    color:#fff;
    margin-right:20px
}
.dark-theme .eyeBtn{
    color:rgb(28, 145, 24);
    margin-left:10px;
    font-size:20px
}
.dark-theme .hash-hide{
    letter-spacing:2px
}

.dark-theme .blockOpen{
    height: 35px;
margin-top:-10px;
    background-color:transparent;
}
/*Dark Theme Dash  */
.dark-theme .container{
    margin-left: 5% !important;
    margin-right: 5% !important;
}
.dark-theme .dashButtons{
   color:#ffffff!important;
   font-weight:900!important
}
.dark-theme .theme-switch{
    padding-top: 25px;
}
.dark-theme .sunIcon{
    color:rgb(247, 200, 92);
}
.dark-theme .moonIcon{
    color:#9CD7F7
}
.dark-theme .stats-block{
    /* background-color: #FAE2F0 !important; */
    /* background-color: #DFF1FE; */
    height: 175px;
    margin-bottom: 20px;
    background-color:#453E68 !important;
    box-shadow:1px 2px 2px rgb(215, 247, 247)!important;
}
.dark-theme .vdivide::after {
   border-right:2px rgb(40, 36, 61) solid;
   display: block;
   height: 45%;
   bottom: 55%;
   content: " ";
   position: relative;
}
.dark-theme .peers-health{
    height: 335px;
    overflow-y: scroll;
}

/* Chart Body*/
.dark-theme .dash-section{
    height: 335px;
    margin-bottom: 2%;
    color:#ffffff;
    background-color:#3c3558!important;

}
.dark-theme .org-pie{
   padding-left:10%;
}
.dark-theme .dash-view{
   padding-top: 85px;
    padding-left: 0px!important;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    /* padding-top: 85px;
    padding-left: 0px!important;
    width: 100%; */

}
.dark-theme .background-view{
    background-color:rgb(36, 32, 54);

}
.dark-theme .navbar-header{
   background:linear-gradient(to right,rgb(236, 233, 252),#4D4575);
}
.dark-theme .statistic{
    display: block;
    float: left;
    height: 100%;
    /* border: 3px #DFF1FE solid; */
    width: 25%;
    text-align: center;
    font-size: 18pt;
    color:#ffffff
}

.dark-theme .stat-count{
    margin-top:55%;
    color:#ffffff;
}
.dark-theme .stat-avatar{
    justify-content: center;
    margin-left: 60%;
    margin-top: 65%;
    /* width: 55% !important;
    height: 55%!important; */
}

.dark-theme .avatar-block{
    color:#1f1a33!important;
    background-color: rgb(106, 156, 248)!important;
}
.dark-theme .avatar-tx{
    color:rgb(216, 142, 4)!important;
    background-color: rgb(252, 224, 174)!important;
}
.dark-theme .avatar-node{
    color: #183A37 !important;
    background-color: rgb(104, 247, 235)!important;
}
.dark-theme .avatar-chaincode{

   color:rgb(121, 83, 109)!important;
   background-color: rgb(247, 205, 234)!important;
}


/*recharts style */
.dark-theme .recharts-text{
   fill:#ffffff!important;
}
.dark-theme .nav-link:hover{
   color:black
}
.dark-theme .active nav-link{
   color:#ffffff;
   fill:#ffffff
}
/*Time Chart and Chart stats */
.dark-theme .chartCard{
   background-color: #453E68;
   color:#ffffff
}
.dark-theme .CardContent{
   background-color:#3c3558!important;
}
.dark-theme .nav-link:hover{
   color:#007bff!important;
}
.dark-theme .recharts-layer{
   fill:rgb(42, 173, 230)!important
}
.dark-theme .recharts-scatter-line{
   stroke:#FFC145!important;
stroke-width:2!important;
}
/* Timeline Stream Chart*/
.dark-theme .timeline-event{
    word-wrap: break-word;
    color:red;
    background-color:orange
    }
    /*Admin Panel & Notification Panel */
    .dark-theme .admin-panel, .dark-theme  .notification-panel, .dark-theme  .MuiPaper-root-65{
        color:#ffffff!important;
        background-color:#3c3558!important
    }
    .dark-theme .admin-panelCurrent{
        color:rgb(42, 173, 230)!important;
    }