/**
 *    SPDX-License-Identifier: Apache-2.0
 */

body {
	background: #f0f0f0;
	line-height: normal;
	font-size: 16px;
	font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased !important;
}
.channel-dropdown{
    width: 200px;
    float: right;
    margin: 35px;
}

.Select-control .Select-clear-zone{
    display: none;
}
