#
#    SPDX-License-Identifier: Apache-2.0
#

explorer_1/scripts/bower_components/
explorer_1/webcontent

node_modules

.idea/*
venv
.vscode

test/*
tmp/*

logs
.log
log.log

fabric-docker-compose-svt/channel-artifacts
fabric-docker-compose-svt/crypto-config
first-network/channel-artifacts/*
examples/*
app/platform/fabric/gateway/wallet/*

*.swp
package-lock.json
